* {
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(22, 22, 22);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
}

.user-form input:focus {
    outline: none;
}

.card {
    max-width: 800px;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar {
    border-radius: 50%;
    border: 5px solid rgb(22, 22, 22);
    height: 150px;
    width: 150px;
}

.user-info {
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    text-decoration: none;
    color: white;
    background-color: rgb(151, 0, 83);
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .user-form {
        max-width: 400px;
    }
}